<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="hammad">

    <title>Hammad Hussain Qureshi</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">

      <div class="starter-template">
        <h3>Insydo Test</h3>
        <p>Candidate: Hammad Hussain Qureshi</p>
        <p>Email: ham2qur@yahoo.com</p>
        
        <p><a href="{% url 'question3_page' %}">Question 3</a></p>
        <p><a href="{% url 'question4' %}">Question 4</a></p>
		
    </div><!-- /.container -->

  </body>
</html>
