<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="hammad">

    <title>Hammad Hussain</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">

      <div class="starter-template">
        <h3>Insydo Test Question 3</h3>

		<!--Search bar-->
		<div class="row">
			<div class="">
				<form class="navbar-form" method="get" action="{% url 'question3_search' %}" role="search">
				{% csrf_token %}
					<div class="input-group">
						<input type="text" name='q' placeholder="Search..." class="form-control" required>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Search</button>
						</span> 
					</div>
				</form>
			</div>
		</div>
		
		
		<div id="results">
			<p>Search results:</p>
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
      </div>

    </div><!-- /.container -->

  </body>
</html>
